## Reading Data from Diffrenet Sources

JSON type	Use this
1) Single object	pd.DataFrame([dict])
2) Multiple objects	pd.read_json()
3) Nested JSON	json_normalize()

In [ ]:
import pandas as pd
from io import StringIO

Data = '''{
    "name": "Alka Tripathi",
    "email": "alka.tripathi@example.com",
    "job_title":[{"title1":"Team Lead","title2":"Sr. Developer"}]
}'''

df = pd.read_json(StringIO(Data))  ##json data into string
df

,name,email,job_title
0,Alka Tripathi,alka.tripathi@example.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [ ]:
## now string back to json
df.to_json() ##orient bydefault take index

'{"name":{"0":"Alka Tripathi"},"email":{"0":"alka.tripathi@example.com"},"job_title":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [18]:
df.to_json(orient="index")

'{"0":{"name":"Alka Tripathi","email":"alka.tripathi@example.com","job_title":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [20]:
df.to_json(orient="records")

'[{"name":"Alka Tripathi","email":"alka.tripathi@example.com","job_title":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [24]:
df1=pd.read_csv("wine.csv")

In [25]:
df1.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
df1.to_csv()

In [27]:
## read data from html
!pip install lxml
!pip install html5lib
!pip install beautifulsoup4

Requirement already satisfied: lxml in d:\anaconda3\lib\site-packages (5.3.0)
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\dell\appdata\roaming\python\python313\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\dell\appdata\roaming\python\python313\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Requirement already satisfied: beautifulsoup4 in c:\users\dell\appdata\roaming\python\python313\site-packages (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\appdata\roaming\python\python313\site-packages (from beautifulsoup4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\dell\appdata\roaming\python\python313\site-packages (from beautifulsoup4) (4.14.0)

In [28]:
df2=pd.read_html("table.html")

In [29]:
df2

[   Roll No         Name  Math  Science  English  Total
 0      101  Amit Sharma    85       90       88    263
 1      102  Priya Verma    78       82       80    240
 2      103  Rohit Singh    92       88       91    271
 3      104   Neha Gupta    70       75       72    217]

In [31]:
df2[0]

   Roll No         Name  Math  Science  English  Total
0      101  Amit Sharma    85       90       88    263
1      102  Priya Verma    78       82       80    240
2      103  Rohit Singh    92       88       91    271
3      104   Neha Gupta    70       75       72    217

In [35]:
## Reading wikipedia page
url="https://en.wikipedia.org/wiki/Mobile_country_code"
df = pd.read_html(url, match="Test networks", header=0)[0]
print(df)

HTTPError: HTTP Error 403: Forbidden

In [37]:
df_excel=pd.read_excel("sample1_data.xlsx",)

## Pickle file :
What is a pickle file in Python?

A pickle file is a file that stores Python objects in a binary format so they can be saved to disk and loaded back later exactly as they were.
This process is called serialization (save) and deserialization (load).



Why do we use pickle?

To save:

1) Pandas DataFrames

2) Lists, dictionaries, tuples

3) Trained ML models

4) Any Python object

In [1]:
df_excel.to_pickle('df_excel')

NameError: name 'df_excel' is not defined

In [42]:
pd.read_pickle('df_excel')

    Name  Age
0   Alka   20
1  Rishi   23
2   Kush   19